body{
    font-family: 'Fredoka One', cursive;
    background-color: rgb(186, 184, 189);
}
.header_div{
    background: lightgray;
}
.header_div img{
    width: 100px;
}
.main_div{
    background-color: lightcyan;
    padding: 10px;
    margin-top: 15px;
    border: 3px solid white;
}
.main_div label{
background-color: lightseagreen;
width: 310px;
padding: 10px;
margin-bottom: 0px;
box-shadow: 5px 5px 15px white;
}
.main_div button{
    width: 310px;
    font-size: 16px;
    box-shadow: 5px 5px 15px white;
    border: 1px solid;
}
.footer_div{
    margin-bottom: 50px;
}
.footer_div h4{
    background: wheat;
    border-radius: 10px;
    padding: 5px;
    box-shadow: 5px 5px 15px white;
}
.footer_div img{
    width: 70px;
}
.copy_right_footer {
    position: fixed;
    color:black;
    bottom: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.445);
    line-height: 3;
    text-align: center;

}